html,
body {
  height: 100%;
}

#dropzone {
  height: 100%;
}
#app {
  height: 100%;
}

.controls {
  font-family: Roboto, Arial, sans-serif;
  position: absolute;
  left: 15px;
  top: 80px;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  background-color: lightgray;
  border-radius: 4px;
  z-index: 999;
}

.pathconfig {
}

.newpathcontainer {
  color: black;
  text-align: center;
  padding: 8px;
}

.sliderContainer {
  display: flex;
  align-items: center;
  height: 21px;
  min-width: 34px;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.2s ease 0s;
}

.slider {
  width: 17px;
  height: 17px;
  box-shadow: rgba(0, 0, 0, 0.13) 0px 0px 1px 0px;
  background-color: white;
  transition: transform 0.2s ease 0s;
  border-radius: 100%;
}
